git+https://github.com/spesmilo/electrumx.git@1.15.0#egg=electrumX
aiorpcx==0.18.4
x11_hash==1.4
quark_hash==1.0
kubernetes==10.0.1
x16r-hash==1.0.1
x16rv2-hash==1.0
uvloop==0.14.0
python-rocksdb==0.7.0
python-rapidjson==0.9.1
